{% extends 'base.html' %}
{% block content %}
    {% if category_list %}
        <ol>
        {% for category in category_list %}
            <li>{{ category.name }}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>no categories</p>
    {% endif %}
{% endblock %}
